extends layout.pug

append head
	title Game Connect - Dashboard
block content
	.row
		.col-6
			.col-12.whiteBox
				H2 Game Ratings
				.row
					.col-8
						input.form-control#newRatingTitleField(type="text" name="newRatingTitleField" placeholder="Game title")
						span.error#newRatingTitleError
					.col-4(style="min-width:200px;")
						+rating("newgame")
				#ratings
					- for(let g of gameRatings)
						.row
							.col-7
								a.fs-24px(href="/games/"+encodeURIComponent(g[0])) #{g[0]}
							.col-5(style="min-width:200px;")
								+rating(g[0],g[1])
		.col-6
			.col-12.whiteBox(style="padding-right:40px; padding-left:40px;")
				.row(style="display: flex; justify-content: space-between; margin-bottom: 10px;")
					H2 Recommended Games
					button.btn.btn-dark#populate(onclick="getRecommendations()") Populate
				table.table#recommendationTable
					tr
						th(scope="col") Game Title
						th(scope="col") Score
					- for (let a = 0;a<20;a++)
						tr
							td
							td
					

block scripts
	script(src="/static/js/dashboard.js")
