extends layout.pug

append head
	title Game Connect - Dashboard
block content
	.row
		h2 Here's some games you'll enjoy!
	.row
		<br>Reccomended Game Number One
	.row
		<br>Reccomended Game Number Two
	.row
		<br>Reccomended Game Number Three
	.row
		<br>Reccomended Game Number Four
	

block scripts
	script(src="/static/js/dashboard.js")
