extends layout.pug

append head
	title Game Connect - Dashboard
block content
	.row
		.col-6
			.col-12.whiteBox
				H2 Game Ratings
				.flex-justify
					div(style="width: 60%;")
						input.form-control#newRatingTitleField(type="text" name="newRatingTitleField" placeholder="Game title")
						span.error#newRatingTitleError
					div
						+rating("newgame")
				#ratings
					- for(let g of gameRatings)
						.flex-justify
							a.fs-24px(href="/games/"+encodeURIComponent(g[0])) #{g[0]}
							+rating(g[0],g[1])
		.col-6
			.col-12.whiteBox(style="padding-right:40px; padding-left:40px;")
				.flex-justify(style="margin-bottom: 10px;")
					H2 Recommended Games
					button.btn.btn-dark#populate(onclick="getRecommendations()") Populate
				table.table#recommendationTable
					tr
						th(scope="col") Game Title
						th(scope="col") Score
					- for (let a = 0;a<10;a++)
						tr(id="recTableRow"+a)
							td
							td
					

block scripts
	script(src="/static/js/dashboard.js")
