extends layout.pug

append head
	title Game Connect - Forgot Password

block content
	.row
		.col-8
			H2 Forgot Password?
			p.
				Just enter your email address and we'll send you an email with a
				link to reset your password.
		.col-4
			form.loginForm#forgotPasswordForm(novalidate)
				.form-group
					label(for="emailField") Email Address
					input.form-control#emailField(type="text" name="emailField" placeholder="Email")
					span.error#emailError
				button.btn.btn-primary(type="submit") Submit

block scripts
	script(src="/static/js/forgotPassword.js")
