extends layout.pug

append head
	title Game Connect - Home

block content
	.jumbotron-fluid
		.row
			.col-8
				H1.display-3 Game Connect
				p.lead To Create A World Where Gamers Can Boldly Go Where Gamers Like Them Have Gone Before
				hr.my-3.whiteBar
				p.
					Welcome to Game Connect! With a whopping ~5 users, our goal is to help you find new games to play and enjoy.
					We have a near-nonexistent (but growing) database of games. Based on your preferences and the data we're going to
					collect from other users, we will be able to recommend games that we think you'll love. Just make an account
					or login to start getting recommendations and playing brand new games!	
			.col-4
				img(style="width: 100%; height: 100%;" src="/static/images/drawing2.svg")

block scripts
	script(src="static/js/home.js")
