extends layout.pug

append head
	title Game Connect - Reset Password

block content
	.row
		.col-8
			H2 Reset your password
			p.
				Please enter a new password. If this link is more than 24 hours
				old, you will need to make another forgot password request.
		.col-4
			form.whiteBox#resetPasswordForm(novalidate)
				.form-group
					label(for="passwordField") Password
					input.form-control#passwordField(type="password" name="passwordField" placeholder="New password")
					span.error#passwordError
				.form-group
					label(for="passwordConfirmField") Confirm Password
					input.form-control#passwordConfirmField(type="password" placeholder="Confirm password")
					span.error#passwordConfirmError
				button.btn.btn-primary(type="submit") Submit

block scripts
	script(src="/static/js/resetPassword.js")
